<div
  class="root"
  *ngLet="{
    theme: theme$ | async,
    user: user$ | async,
    logout: logout$ | async,
  } as vm"
>
  <mat-toolbar color="primary" class="header">
    <div class="left">
      <button class="btn-menu" mat-button (click)="snav.toggle()">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
      <h2 class="app-title">Payment System</h2>
    </div>
    <div class="right button-group">
      <div *ngIf="vm.user">
        <b>{{ vm.user.name }}</b>
      </div>
      <button
        mat-icon-button
        (click)="toggleTheme(vm.theme === 'dark' ? 'light' : 'dark')"
      >
        <mat-icon *ngIf="vm.theme === 'dark'">light_mode</mat-icon>
        <mat-icon *ngIf="vm.theme === 'light'">dark_mode</mat-icon>
      </button>
      <button
        *ngIf="!vm.user"
        type="button"
        mat-flat-button
        color="accent"
        (click)="login()"
      >
        Login
      </button>
      <button *ngIf="vm.user" type="button" mat-flat-button (click)="logout()">
        Log Out
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" class="sidenav" opened>
      <app-nav></app-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>