<nav *ngIf="routes.length != 0">
  <mat-nav-list *ngLet="{ user: user$ | async } as vm">
    <div>
      <a mat-list-item *ngFor="let route of routes" [routerLink]="route.path"
        routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">{{route.title}}</a>
    </div>
    <div *ngIf="vm.user && hasRole(vm.user.roles, 'user')">
      <a mat-list-item *ngFor="let route of defaultRoutes" [routerLink]="route.path"
        routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">{{route.title}}</a>
    </div>
    <div *ngIf="vm.user && hasRole(vm.user.roles, 'admin')">
      <a mat-list-item *ngFor="let route of adminRoutes" [routerLink]="route.path"
        routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">{{route.title}}</a>
    </div>
  </mat-nav-list>
</nav>